*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    background: url(./assets/bg.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fff;
    padding: 0 70px 0 70px;
}

.navbar div:first-of-type{
    padding: 15px 0;
    margin-right: 50px;
}

.logo{
    height: 25px;
}

.line{
    border-left: 1px solid #fff;
    height: 50px;
}

.grow-list{
    margin-right: auto;
}

.list{
    list-style: none;
    display: flex;
}

.list-item{
    padding: 0 40px;
    font-size: 15px;
}

.button-small{
    background-color: #BA0CC5;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 5px 20px;
}

/* HERO SECTION */

.hero{
    margin-top: 10%;
    text-align: center;
}

.hero-heading{
    font-size: 65px;
    width: 60%;
    color: #fff;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}

.hero-description{
    color: #fff;
    font-size: 25px;
}

.button-large{
    background-color: #BA0CC5;
    border: none;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px 30px;
    margin-top: 50px;
}
